body {
    background-image: url(pic3.jpg);
    background-size: cover;
    background-repeat : no-repeat;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    overflow: hidden; /* Hide scrollbars */
    
}


.titles {
    margin-top:10px;
    height: 200px;
    color: white;
}
.options {
    color: white;
    height: 200px;
}
fieldset {
    margin: -40px;
}
#container {
    display: none;
    margin: -148px;
    margin-left: 10px;
    margin-right: 10px;
}
.header {
    text-align: center;
}
.footer {
    text-align: center;
    margin: 153px;
    text-shadow: 0.125pc 0.125pc 0.625pc black;
}
.card-text {
    text-align: center;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}
.loading {
    color : white;
    text-align: center;
    display: none;
}